@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.title {
  text-align: center;
  font-size: 24px;
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  background: linear-gradient(#82f38b,#57f063);
}