.campoTexto {
  font-size: 24px;
}

.campoTexto label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campoTexto input {
  background-color: #FFF;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0);
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 24px;
  font-size: 24px;
}